@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');

body {
    margin: 0 auto;
    box-sizing: content-box;
    font-family: Open sans;
    font-size: 12px;
    font: weight 500px;
    font-family: OpenSans;
}

header{
    font-family: Oswald;
    width: 100%;
    background-color: #004175;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    height: 30px;
    font-size: 30px;
    text-decoration: none;
    padding: 30px;
}

nav {
    width: 50%;
    max-width: 200px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.dog-hero {
    width: 1400px;
}

.bio {
    margin: auto;
    width: 70%;
    padding: 10px;
    font-size: large;
}

.adoptbio {
    margin: 30px;
    font-size: small;
}

.adoptbio-title {
    font-size: large;
    font-weight: bold;
}

.dogs-adopt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pups {
    border: 1px solid lightgray;
    margin: 5px;
    height: 230px;
    padding-bottom: 100px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.blurb {
    flex-wrap: wrap;
    flex-direction: row;
    height: 10px;
    margin: 5px;
    
}

.content {
    border: 2px solid rgba(0,0,0,0.0);
    border-radius: 8px;
    background-color: #89DEEF;
    justify-content: space-between;
    margin: 0 auto;
    text-align: justify;
    width: 30%;
    margin: 10em 20% 5em 3;
    align-items: flex-start;
    /* How do I add more space between the blrubs?*/
}

.nav-box {
    display: flex;
    padding: 1px;
    justify-content: flex-end;
}

.nav-box a {
    padding: 10px;
    margin: 0;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: medium;
}

.adoptbio {
    display: flex;

}

.footbox {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.footbox img:hover {
    opacity: 0.5;
    background: white;
}

.foot-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    background-color: blue;
}

.foot-container img {
    width: 100%;
    height: 300px;
}

.footbox a:link {
    color: white;
    text-align: center;
    bottom: 175px;
    left: 150px;
    font-family: Oswald;
    position: relative;
    font-size: 35px;
    text-decoration: none;
}

.footbox a:visited {
    color: white;
    text-decoration: none;
}
    
.container {
    margin: 30px;
}

.container-title{
    font-size: x-large;
}

.italics {
    font-style: italic;
    font-size: small;
    margin: 10px;
    border: 10px;
}

.hours-title {
    margin: 30px;
    font-size: x-large;
}

.hours {
    margin: 10px;
}